[submodule "repos/daisy"]
	path = repos/daisy
	url = https://github.com/funkelab/daisy
	branch = release-v0.2
[submodule "repos/gunpowder"]
	path = repos/gunpowder
	url = git@github.com:trivoldus28/gunpowder.git
	branch = daisyscan
[submodule "repos/zarr"]
	path = repos/zarr
	url = git@github.com:zarr-developers/zarr.git
[submodule "repos/waterz"]
	path = repos/waterz
	url = https://github.com/funkey/waterz
